/* General instruction */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 16px;
   font-weight: 400;
   /* font-family: 'EB Garamond', serif; */
   font-family: 'Gentium Book Plus', serif;
   /* font-family: 'Inter', sans-serif;
   font-family: 'Poppins', sans-serif;
   font-family: 'Raleway', sans-serif;
   font-family: 'Roboto Serif', serif; */
}

/* --------------------------------
           Header-section 
----------------------------------*/
.banner{
   background:#3a3434;
   margin: 50px auto;
   border-radius: 25px;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   justify-items: center;
   align-items: center;
   width: 90vw;
   height: 100%;
}
.banner-text{
   color: white;
   padding: 50px;
}
.banner-text h1{
   font-size: 4em;
   font-weight: 700;
   font-family: 'Poppins', sans-serif;
   line-height:85px;
}
.button{
   width: 175px;
   height: 44px;
   background: rgb(49, 216, 180);
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 26px;
}
.button-text{
   /* background: #E02C6D; */
   color: black;
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
   font-size: 18px;
   text-decoration: none;
}
.banner-image{
  position: relative;
  /* align-self: center; */
  /* justify-self:left; */
}
.banner-image .cr7{
  position: relative;
  height: 100%;
  width: 500px;
}

/* --------------------------------
           Blog-section 
----------------------------------*/

/*-------- blog-menue ------------*/

.blog-menue{
   display: grid;
   grid-template-columns: 300px 1fr;
   margin: 50px auto;
   width: 90vw;
   border-radius: 25px;
}
.menue{
   width: 270px;
   height: 400px;
   background-color: #3a3434;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   /* display: grid;
   grid-template-columns: repeat(1,1fr);
   align-items: center;
   justify-items: center; */
   border-radius: 10px;
}
.menue-items{
   background-color: white;
   width: 200px;
   height: 60px;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.menue-items a{
   text-align: center;
   text-decoration: none;
   color: black;
   font-size: 24px;
   font-weight: 700;
}
.menue-items:hover,.menue-items a:hover{
   background-color: tomato;
   color: white;
}
/*-------- blog-menue ------------*/


/*-------- Players-blog ------------*/
.player-blog{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
.players{
   margin-left: 10px;
   margin-bottom: 30px;
   box-shadow: 0 0 5px 7px rgb(252, 240, 240);
   border-radius: 9px;
   padding: 12px;
}

.player-image img{
   width: 100%;
   border-radius: 5px;
}
       /* Elipsis */
.transfer-news h2{
   font-size: 22px;
   font-weight: 600;
   padding: 20px 0px;
   white-space: nowrap;
   width: 250px;
   overflow: hidden;
   text-overflow: ellipsis;
}
.transfer-news h2:hover{
   overflow: visible;
   white-space: normal;
}
       /* Elipsis */


.rating .fa-solid{
   color:rgb(94, 92, 92);
   margin-right: 10px ;
}
.rating span{
   color:rgb(34, 33, 33);
   margin-right: 80px ;
}
/*-------- Players-blog ------------*/


/* --------------------------------
           Footer 
----------------------------------*/
.footer{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #3a3434;
   height: 400px;
}
.footer .title h1{
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   font-size: 30px;
   color: wheat;
}
/* -------- Menue-Bar ----------*/
.menue-bar{
   
   padding-left: 120px;
   padding-right: 120px;
   padding-top: 30px;
   padding-bottom: 20px;
   border-top: 0.8px solid rgb(99, 92, 92);
   margin-top: 20px;
}
.menue-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menue-list li{
   list-style: none;
   margin: 0 15px;
}
.menue-list li a{
   text-decoration: none;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   color: #928383;
}
/* -------- Menue-Bar ----------*/


/* -------- Social Links ----------*/
.social-links{
   padding-top: 20px;
}
.social-links a{
   margin:10px;
   color: tomato;
}
/* -------- Social Links ----------*/



/* --------------------------------
           @media Query 
----------------------------------*/
/* Tablet , maximum width 961px */

@media screen and (max-width:961px)
{
  
   .banner{
      margin: 20px auto;
   }
   .banner-text h1{
      font-size: 2em;
      line-height:40px;
   }
   .banner-image .cr7{
      position: relative;
      right: 60px;
      height: auto;
      width: 60vw;
   }
  .blog-menue{
     grid-template-columns: repeat(1, 1fr);
  }
  .menue{
     width: 92%;
     height: 100px;
     flex-direction: row;
     border-radius: 10px;
     margin: 20px;
  }
  .player-blog{
     grid-template-columns: repeat(2, 1fr);
  
  }
  .menue-items{
    
     width: 160px;
     height: 50px;
     border-radius: 5px;
     
  }
   .menue-list{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
   }
   .menue-items a{
      font-size: 16px;
   }

}


/* Mobile , maximum width 600px*/
@media screen and (max-width:600px)
{
   .blog-menue{
      grid-template-columns: repeat(1, 1fr);
   }
   .menue{
      width: 70%;
      height: 300px;
      flex-direction: column;
   }
   .player-blog{
      grid-template-columns: repeat(1, 1fr);
   }
   .menue-list{
      flex-direction: column;
   }
   .banner{
      grid-template-columns: repeat(1,1fr);
   }
 
}