/* General instruction */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    /* font-family: 'EB Garamond', serif; */
    font-family: 'Gentium Book Plus', serif;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Serif', serif; */
}


.button{
    width: 175px;
    height: 44px;
    background: tomato;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
 }
 .button-text{
    /* background: #E02C6D; */
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
 }